<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Calculator.Win.Properties.Settings.CalculatorHistoryConnectionString"
            connectionString="Data Source=HYPER2\MISC;Initial Catalog=CalculatorHistory;Persist Security Info=True;User ID=SA1;Password=111"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>